body
{
    background-color: rgb(236, 179, 179);
}
.navbar
{
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.navbar p
{
  margin-left: 20px;
  margin-top: 5px;
  font-size: larger;
  color: white;
  font-family: 'Mina', sans-serif;
}
.navbar a:hover
{
  color: rgb(0, 26, 143);
}
.navbar ul
{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar li
{
  display: inline;
  margin-left: 20px;
}
.navbar a
{
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover
{
  color: rgb(25, 228, 211);
}
.avatar img
{
  width: 30px;
  height: 30px;
  margin-left: 900px;
  border-radius: 50%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card .buy{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(207, 27, 102);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
}
.card .next {
  color: rgb(41, 46, 34);
  outline: 0;
  padding: 10px;
  background-color: rgb(149, 228, 74);
  text-align: center;
  cursor: pointer;
  width: 70px;
  font-size: 18px;
  border-radius: 30%;
}
.card .prev {
  color: rgb(41, 46, 34);
  outline: 0;
  padding: 10px;
  background-color: rgb(231, 28, 28);
  text-align: center;
  cursor: pointer;
  width: 70px;
  font-size: 18px;
  border-radius: 30%;
}
.footer
{
  height: 200px;
  width: full;
  background-color: black;
  color: white;
}